img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p:has(img)+p>em{
    display: block;
    text-align: center;
    font-style: normal;
}

html body{
    font-size: 14px;
    font-family: "IPAexゴシック";
}


html body table{
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

p:has(em):has(+table) em:first-of-type{
    font-style: normal;
}

p:has(em):has(+table){
    display: block;
    text-align: center;
}

body>div:first-of-type h1:first-of-type{
    display: block;
    text-align: center;
}

body>div:first-of-type h1:first-of-type+p:has(em){
    display: block;
    text-align: right;
}

body>div:first-of-type h1:first-of-type+p em{
    font-style: normal;
}